__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.venv/
.env
local/

_vendor/
custom_nodes/
models/
input/
!core/pipelines/workflow_recipes/_partials/input/
!core/pipelines/workflow_recipes/_partials/input/*.yaml
output/
ComfyUI_temp/

*.log
.DS_Store
